{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="../accueil">
        <h5>GSB Frais</h5>
    </a>
    <span class="navbar-header text-center">
      <h3>Espace Visiteur</h3>
      <h7>Consulter Fiches de Frais</h7>
    </span>
    <span class="navbar-text">
      <h5>{{app.session.get('prenom')}} {{app.session.get('nom')}}</h5>
    </span>
  </div>
</nav>

{% if ficheFrais is empty %}

<p>Aucun Fiche de Frais n'est renseignée pour le mois renseiné.
Vous allez être redirigés dans 5 secondes.</p>

<div class="countdown" data-toggle="circularcountdown" data-color="belize-hole" data-to="12/25/2021">
    <div class="row">
        <div class="cdsjs col-lg-3 col-md-6 col-sm-12 col-xs-6"><canvas id="seconds"><!-- Seconds --></canvas></div>       
    </div>
</div>

{% else %}

<div>
    <table style="border: solid; margin-right: auto; margin-left: auto">
        <tr style="background-color: #333; color: #fff;">
            <th style="border: 1px solid #333">Visiteur</th>
            <th style="border: 1px solid #333">Mois</th>
            <th style="border: 1px solid #333">Nombre de Justificatifs</th>
            <th style="border: 1px solid #333">Montant</th>
            <th style="border: 1px solid #333">Date de la dernière modification</th>
            <th style="border: 1px solid #333">Etat</th>
        </tr>
        <tr>
            <td style="border: 1px solid #333;text-align: center;">{{ ficheFrais[0][0] }}</td>
            <td style="border: 1px solid #333;text-align: center;">{{ ficheFrais[0][1] }}</td>
            <td style="border: 1px solid #333;text-align: center;">{{ ficheFrais[0][2] }}</td>
            <td style="border: 1px solid #333;text-align: center;">{{ ficheFrais[0][3] }}</td>
            <td style="border: 1px solid #333;text-align: center;">{{ ficheFrais[0][4] }}</td>
            <td style="border: 1px solid #333;text-align: center;">{{ ficheFrais[0][5] }}</td>
        </tr> 
    </table>
</div>

{% endif %}

{% endblock %}
